---
---
@charset "UTF-8";

@use "base";
@use "layout";

$baseurl: "{{site.url}}{{site.baseurl}}";
$fonturl: $baseurl + "/assets/fonts/";

@font-face{
  src: url($fonturl + 'OhioKraft.otf');
  font-family: "Ohio Kraft";
}
@font-face{
  src: url($fonturl + 'Mistral.ttf');
  font-family: "Mistral";
}
@font-face{
  src: url($fonturl + 'routed-gothic.ttf');
  font-family: "Routed Gothic";
}
@font-face{
  src: url($fonturl + 'routed-gothic-italic.ttf');
  font-family: "Routed Gothic";
  font-style: italic;
}
@font-face{
  src: url($fonturl + 'EBGaramond08-Regular.otf');
  font-family: "EB Garamond";
}
@font-face{
  src: url($fonturl + 'EBGaramondSC08-Regular.otf');
  font-family: "EB Garamond";
  font-weight: bold;
}
@font-face{
  src: url($fonturl + 'EBGaramond08-Italic.otf');
  font-family: "EB Garamond";
  font-style: italic;
}