<div id="header">
  <div class="container">
    <div class="spaced-area">
      <div class="left-space"></div>
      <div class="prose">
        <ul id="main-menu">
          <li><a href="{{site.url}}{{site.baseurl}}/" {% if page.url == '/' %}class="active"{% endif %}><i>Tileservice</i></a></li>
          <li><a href="{{site.url}}{{site.baseurl}}/tiles/" {% if page.url == '/tiles/' %}class="active"{% endif %}>Tiles</a></li>
          <li><a href="{{site.url}}{{site.baseurl}}/docs/" {% if page.url == '/docs/' %}class="active"{% endif %}>Docs</a></li>
        </ul>
      </div>
    </div>
  </div>
    {% include spaced-hr.html %}
    <div class="container">
    <div class="prose">
      <div class="site-branding-area-wrap">
        <div class="site-branding-area">
          <a href="{{site.url}}{{site.baseurl}}">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/tileservice-logo.svg" class="site-logo" alt="Tileservice logo depicting the outline of a mountain, house, tree, and shoreline atop three rack servers stacked like tiles."/>
          </a>
          <h1 class="site-title-area">
            <a href="{{page.url | absolute_url}}">
              <div class="part-one">OpenStreetMap US{% unless page.url == '/' %} Tileservice{% endunless %}</div>
              <div class="part-two">{% if page.url == '/' %}Tileservice{% else %}{{page.title}}{% endif %}</div>
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
  {% include spaced-hr.html %}
</div>